@import "styles/themes";

.collab{
    @include layout-container-lg;
    @include layout-container-ver-lg;

    text-align: center;
    .title{
        font-size: 2em;
        color: $color-primary;
        margin-bottom: 2em;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        @include md-p{
            font-size: 1.5em;
        }
    }
    .companies{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .company{
            width: 200px;
            height: 80px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: grayscale(1);
            }
            @include md-p{
                width: 120px;
            }
        }
    }
}