@import "styles/themes";

.cta{
    @include layout-container-lg;
    .wrapper{
        transform: translateY(50%);
        background-color: #201758;
        color: $color-light-3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        border-radius: 16px;
        @include md-p{
            flex-direction: column;
        }
        .title, .text, .ctaBtn{
            width: 33%;
            @include md-p{
                width: 100%;
            }
        }
        .ctaBtn{
            a{
                font-weight: bold;
                border: 4px solid $color-primary;
                padding: .6em 1.6em;
                border-radius: 50px;
                transition: $link-trans;
                &:hover{
                    background-color: $color-primary;
                }
            }
        }
    }
}